<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="place" placeholder="place">
        <button onclick="fnclick()">Save</button>
        <script>
            $.ajaxSetup({
                headers:{ "X_CSRFToken": '{{csrf_token}}'}
            })
            function fnclick(){
                $.ajax({
                    url:'/ajaxb9/',
                    type:'POST',
                    data:{
                        name:$('#name').val(),
                        name:$('#email').val(),
                        name:$('#place').val(),

                    },
                    success:function(response){
                        alert(response.data)
                    }
                })
            }
        </script>
    </div>
</body>
</html>