<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/home/new/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name"><br>
            <label>add image</label>
            <input type="file" name="documentt" id="document" placeholder="choose file"><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
