body{
   margin: 0px;
   padding: 0%;
}
.navi{
    background-color: #3b5998;
    font-family: helvetica;
    color: #fff;
     background-size: 50% 800%"
 
}
.colo{
    font-size: 45px; 
    margin-left:10%;
     margin-top:15px;
     display:inline-block"
}
